@mixin nav-item($color, $isSwitchView: false, $fontsize: 14px) {
  display: flex;
  justify-content: center;
  align-items: center;

  @if $isSwitchView {
    padding-left: 5px;
    padding-right: 5px;
  } @else {
    padding-left: 10px;
    padding-right: 10px;
  }

  color: $color;
  font-size: $fontsize;
  font-weight: 700;
}

@mixin nav(
  $color,
  $active,
  $hasBorder: false,
  $isSwitchView: false,
  $fontsize: 14px
) {
  > .nav {
    height: var(--navbar-min-height);

    > .nav-item {
      @include nav-item($color, $isSwitchView, $fontsize);

      @if $hasBorder {
        &.active {
          color: $active;
          border-bottom: 3px solid var(--navbar-color-active);
        }
      } @else {
        &.active {
          color: $active;

          @if $isSwitchView {
            > svg {
              fill: $active;
            }
          }
        }
      }

      @if $isSwitchView {
        > svg {
          fill: var(--app-buttonAlpha);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.subreddit-navbar {
  > .nav-menu {
    background-color: var(--navbar-background-color);

    @include nav(
      var(--navbar-color-inactive),
      var(--navbar-color-active),
      true,
      false,
      14px
    );
  }

  > .switch-view-nav {
    background-color: var(--navbar-switch-view-background-color);

    @include nav(var(--app-dark-gray), var(--app-button), false, true, 10px);
  }
}
